<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="template :: head"></head>

<body>
    <header th:replace="template :: header"></header>
    <div class="container animate__animated animate__fadeIn">
        <h3>Agregar vuelo</h3>

        <form>
            <div class="row">

                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nro. Vuelo</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Fecha</span>
                        <input type="datetime-local" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>

                </div>
                <div class="col">
                </div>


            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>


    </div>


</body>