<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="template :: head"></head>

<body>
    <header th:replace="template :: header"></header>

    <div class="main-container container-fluid animate__animated animate__fadeIn">
        <div class="row">
            <aside class="datepicker col ps-5">
                <div class="row">
                    <div id="datepicker"></div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <form th:action="@{/vuelos/form/} + ${'arribo'}" method="get">
                            <button class="btn btn-primary" type="submit" > <i class="fas fa-plane-arrival"></i> Agregar arribo</button>
                        </form>
                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <form th:action="@{/vuelos/form/} + ${'salida'}" method="get">
                            <button class="btn btn-primary" type="submit" ><i class="fas fa-plane-departure"></i> Agregar salida</button>
                        </form>
                        
                    </div>
                </div>
                <div class="row my-3 d-none">
                    <form th:action="@{/vuelos/formMasivo} + ${'arribo'}" method="get">
                        <button class="btn btn-success" type="submit" >Agregar arribo masivo</button>
                    </form>
                </div>
                <div class="row my-3 d-none">
                    <form th:action="@{/vuelos/formMasivo} + ${'salida'}" method="get">
                        <button class="btn btn-success" type="submit" >Agregar salida masivo</button>
                    </form>
                </div>
                <div class="row my-3">
                    <strong><span>Vuelos del día: <span id="total-vuelos">0</span></span></strong>
                </div>
            </aside>
            <section class="col col-6 ps-2">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a id="tab-arribos" class="nav-link active"><i class="fas fa-plane-arrival"></i> Arribos</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-salidas" class="nav-link"><i class="fas fa-plane-departure"></i> Salidas</a>
                    </li>
                </ul>
                <div id="result">
                    <div id="resultArribos">

                    </div>
                    <div id="resultSalidas">

                    </div>
                    
                </div>
                



                <!-- LAS TABLAS DE CARGAN DINAMICAMENTE Y SE INSERTAN EN id="result" -->
                <table th:if="${vuelosArribos}" class="vuelosArribos table table-sm  table-hovered" th:fragment="home-table">
                    <thead >
                        <tr>
                            <th class="align-middle text-center">Aerop.</th>
                            <th class="align-middle text-center">Vuelo</th>
                            <th class="align-middle text-center">Proc.</th>
                            <th class="align-middle text-center">Arribo Est.</th>
                            <th class="align-middle text-center">Estado</th>
                            <th class="align-middle text-center">Gran Enver.</th>
                            <th class="align-middle text-center">Puerta</th>
                            <th class="align-middle text-center">Pos.</th>
                            <th class="align-middle text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vuelo, idx : ${vuelosArribos}">
                            <td class="text-center align-middle" th:text="${vuelo.destino}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.nroVuelo}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.origen}"></td>
                            <td class="text-center align-middle"
                                th:text="${vuelo.horaArribo}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.estado.valorEs}"></td>
                            <td class="text-center align-middle">
                                <div class="form-switch switch-tabla">
                                    <input class="form-check-input" type="checkbox" id="switchGranPorte" th:checked="${vuelo.granPorte}">
                                 </div>
                            </td>
                            <td class="text-center align-middle">
                                <select name="puerta">
                                    <option th:each="puerta : ${puertas}" th:if="${#strings.startsWith(puerta.nro,'Seleccionar')}"
                                    value=""></option>
                                    <option th:each="puerta : ${puertas}" th:if="${!#strings.startsWith(puerta.nro,'Seleccionar')}" 
                                        th:selected="${puerta.nro} == ${vuelo.puerta.nro}"
                                        th:value="${puerta.nro}" th:text="${puerta.nro}"></option>
                                </select>
                            </td>
                            <td class="text-center align-middle">
                                <select name="posicion"> 
                                    <option th:each="pos : ${posiciones}" th:if="${#strings.startsWith(pos.valor,'Seleccionar')}"
                                        value=""></option>
                                    <option th:each="pos : ${posiciones}" th:if="${!#strings.startsWith(pos.valor,'Seleccionar')}" 
                                            th:selected="${pos.valor} == ${vuelo.pos.valor}"
                                            th:value="${pos.valor}" th:text="${pos.valor}"></option>
                                </select>
                            </td>
                            <td class="text-center align-middle">
                                <div class="row mx-2">
                                    <div class="col botones">
                                        <button type="button" id="guardar_" th:attrappend="id=${vuelo.id}"
                                        th:data_nroVuelo="${vuelo.nroVuelo}"
                                        th:onclick="|guardarVuelo('${vuelo.id}', this.getAttribute('data_nroVuelo'), this.getAttribute('id'))|"
                                        class="btn btn-success btn-guardar">
                                        <i class="far fa-save fa-sm"></i>
                                    </button>
                                    </div>
                                    <div class="col botones">
                                        <form th:action="@{/vuelos/editar/} + ${'arribo'} + '/' + ${vuelo.id}" method="get">
                                            <button type="submit"
                                                class="btn btn-warning btn-editar">
                                                <i class="fas fa-pencil-alt fa-sm"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col botones">
                                        <button type="button" id="borrar_" th:attrappend="id=${vuelo.id}"
                                        th:data_nroVuelo="${vuelo.nroVuelo}"
                                        th:onclick="|confirmarBorrarVuelo('${vuelo.id}', this.getAttribute('data_nroVuelo'), this.getAttribute('id'))|"
                                        class="btn btn-danger btn-borrar mx-1">
                                        <i class="far fa-trash-alt fa-sm"></i>
                                    </button>
                                    </div>
                                </div>
                               
                               
                               
                            </td>
                            
                        </tr>
                        
                    </tbody>
                    
                </table>
                <table th:if="${vuelosSalidas}" class="vuelosSalidas table table-sm table-stripped table-hovered" th:fragment="home-table">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Aerop.</th>
                            <th class="align-middle text-center">Vuelo</th>
                            <th class="align-middle text-center">Destino.</th>
                            <th class="align-middle text-center">Partida Est.</th>
                            <th class="align-middle text-center">Estado</th>
                            <th class="align-middle text-center">Gran Enver.</th>
                            <th class="align-middle text-center">Puerta</th>
                            <th class="align-middle text-center">Pos.</th>
                            <th class="align-middle text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vuelo : ${vuelosSalidas}">
                            <td class="text-center align-middle" th:text="${vuelo.origen}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.nroVuelo}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.destino}"></td>
                            <td class="text-center align-middle"
                                th:text="${vuelo.horaSalida}"></td>
                            <td class="text-center align-middle" th:text="${vuelo.estado.valorEs}"></td>
                            <td class="text-center align-middle">
                                <div class="form-switch switch-tabla">
                                    <input class="form-check-input" type="checkbox" id="switchGranPorte" th:checked="${vuelo.granPorte}">
                                 </div>
                            </td>
                            <td class="text-center align-middle">
                                <select name="puerta">
                                    <option th:each="puerta : ${puertas}" th:if="${#strings.startsWith(puerta.nro,'Seleccionar')}"
                                    value=""></option>
                                    <option th:each="puerta : ${puertas}" th:if="${!#strings.startsWith(puerta.nro,'Seleccionar')}" 
                                        th:selected="${puerta.nro} == ${vuelo.puerta.nro}"
                                        th:value="${puerta.nro}" th:text="${puerta.nro}"></option>
                                </select>
                            </td>
                            <td class="text-center align-middle">
                                <select name="posicion">
                                    <option th:each="pos : ${posiciones}" th:if="${#strings.startsWith(pos.valor,'Seleccionar')}"
                                    value=""></option>
                                    <option th:each="pos : ${posiciones}" th:if="${!#strings.startsWith(pos.valor,'Seleccionar')}" 
                                        th:selected="${pos.valor} == ${vuelo.pos.valor}"
                                        th:value="${pos.valor}" th:text="${pos.valor}"></option>
                                </select>
                            </td>
                            <td class="text-center align-middle">
                                <div class="row mx-2">
                                    <div class="col botones">
                                        <button type="button" id="guardar_" th:attrappend="id=${vuelo.id}"
                                        th:data_nroVuelo="${vuelo.nroVuelo}"
                                        th:onclick="|guardarVuelo('${vuelo.id}', this.getAttribute('data_nroVuelo'), this.getAttribute('id'))|"
                                        class="btn btn-success btn-guardar">
                                        <i class="far fa-save fa-sm"></i>
                                    </button>
                                    </div>
                                    <div class="col botones">
                                        <form th:action="@{/vuelos/editar/} + ${'salida'} + '/' + ${vuelo.id}" method="get">
                                            <button type="submit"
                                                class="btn btn-warning btn-editar">       
                                                <i class="fas fa-pencil-alt fa-sm"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col botones">
                                        <button type="button" id="borrar_" th:attrappend="id=${vuelo.id}"
                                        th:data_nroVuelo="${vuelo.nroVuelo}"
                                        th:onclick="|confirmarBorrarVuelo('${vuelo.id}', this.getAttribute('data_nroVuelo'), this.getAttribute('id'))|"
                                        class="btn btn-danger btn-borrar mx-1">
                                        <i class="far fa-trash-alt fa-sm"></i>
                                    </button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                   
                </table>
                <!-- LAS TABLAS DE CARGAN DINAMICAMENTE Y SE INSERTAN EN id="result" -->
            </section>

            <aside class="col col-3 ps-2" id="resultAvisos">
                
            </aside>

            <aside id="avisos" th:fragment="home-avisos">

                <div th:if="${avisos}"  th:each="aviso : ${avisos}">
                    <div class="alert alert-warning fade show mt-1 mx-1 animate__animated animate__headShake"
                           th:if="${aviso.cantidadVuelos < 4}">
                        <div class="row">
                            <div class="col col-1 pt-1">
                                <i class="fas fa-traffic-light fa-2x"></i>
                            </div>
                            <div class="col ps-3">
                                <span> ¡Hay <span th:text="${aviso.cantidadVuelos}"></span> vuelos dentro de una misma hora el día </span>
                                <strong>
                                    <span th:text="${#temporals.format(aviso.fecha,'dd/MM/yyyy')}"></span>
                                </strong>!                              
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="alert alert-danger fade show mt-1 mx-1 animate__animated animate__headShake"
                        th:if="${aviso.cantidadVuelos > 3}">
                        <div class="row">
                            <div class="col col-1 pt-1">
                                <i class="fas fa-traffic-light fa-2x"></i>
                            </div>
                            <div class="col ps-3">
                                <span> ¡Hay <span th:text="${aviso.cantidadVuelos}"></span> vuelos dentro de una misma hora el día </span>
                                <strong>
                                    <span th:text="${#temporals.format(aviso.fecha,'dd/MM/yyyy')}"></span>
                                </strong>!
                            </div>
                        </div>
                    </div>
                </div>
            </aside>


        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="borrarModal" tabindex="-10" aria-labelledby="borrarModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4" id="exampleModalLabel">¡Atención!</h5>
                </div>
                <div class="modal-body fs-5">
                    ¿Está seguro que quiere eliminar el vuelo <span class="nroVuelo"></span> del día <span class="fechaVuelo"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="borrarBoton" class="btn btn-danger mx-1">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>