<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head th:replace="template :: head"></head>

<body>
    <header th:replace="template :: header"></header>

    <div class="main-container container-fluid animate__animated animate__fadeIn">
        <div class="row">
            <aside class="datepicker col ps-5">
                <div class="row">
                    <div id="datepicker"></div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <form th:action="@{/vuelos/form/} + ${'arribo'}" method="get">
                            <button class="btn btn-primary" type="submit" > <i class="fas fa-plane-arrival"></i> Agregar arribo</button>
                        </form>
                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <form th:action="@{/vuelos/form/} + ${'salida'}" method="get">
                            <button class="btn btn-primary" type="submit" ><i class="fas fa-plane-departure"></i> Agregar salida</button>
                        </form>
                        
                    </div>
                </div>
                <div class="row my-3 d-none">
                    <form th:action="@{/vuelos/formMasivo} + ${'arribo'}" method="get">
                        <button class="btn btn-success" type="submit" >Agregar arribo masivo</button>
                    </form>
                </div>
                <div class="row my-3 d-none">
                    <form th:action="@{/vuelos/formMasivo} + ${'salida'}" method="get">
                        <button class="btn btn-success" type="submit" >Agregar salida masivo</button>
                    </form>
                </div>
                <div class="row my-3">
                    <strong><span>Vuelos del día: <span id="total-vuelos">0</span></span></strong>
                </div>
            </aside>
            <section class="col col-6 ps-2">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a id="tab-arribos" class="nav-link active"><i class="fas fa-plane-arrival"></i> Arribos</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-salidas" class="nav-link"><i class="fas fa-plane-departure"></i> Salidas</a>
                    </li>
                </ul>
                <div id="result">
                    <div id="resultArribos">

                    </div>
                    <div id="resultSalidas">

                    </div>
                    
                </div>
            </section>

            <aside class="col col-3 ps-2" id="resultAvisos">
                
            </aside>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="borrarModal" tabindex="-10" aria-labelledby="borrarModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4" id="exampleModalLabel">¡Atención!</h5>
                </div>
                <div class="modal-body fs-5">
                    ¿Está seguro que quiere eliminar el vuelo <span class="nroVuelo"></span> del día <span class="fechaVuelo"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="borrarBoton" class="btn btn-danger mx-1">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>